* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  width: 100%;
  background-image: radial-gradient(circle at 50% -20.71%, #ffff8d 0, #ffeb82 16.67%, #eed077 33.33%, #d8b46c 50%, #c09962 66.67%, #a98359 83.33%, #947051 100%);
}

.item {
  opacity: 1;
}

.item:hover {
  opacity: 0.5;
}

.item img {
  display: block;
}
